############################################################
# Python
############################################################

# Byte-compiled / optimized
__pycache__/
**/__pycache__/
*.py[cod]
*.pyc
*.pyo
*.pyd

############################################################
# Virtual Environment
############################################################

.venv/
venv/
env/

############################################################
# Environment Variables
############################################################

.env
.env.*

############################################################
# IDE
############################################################

.vscode/
.idea/

############################################################
# Logs
############################################################

*.log

############################################################
# Database
############################################################

*.db
*.sqlite
*.sqlite3

############################################################
# Build
############################################################

build/
dist/

*.spec
*.toc
*.pkg
*.pyz

############################################################
# PyInstaller
############################################################

*.manifest

############################################################
# Windows
############################################################

Thumbs.db
Desktop.ini

############################################################
# Executable
############################################################

*.exe

############################################################
# License
############################################################

license.lic

############################################################
# Cache
############################################################

.pytest_cache/
.mypy_cache/

############################################################
# Git
############################################################

# Không thêm dòng .git/